<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-subscription-type-heading" data-cy="SubscriptionTypeCreateUpdateHeading">Créer ou éditer un Subscription Type</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let labelRef = editForm.get('label')!;
        <div class="mb-3">
          <label class="form-label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          @if (labelRef.invalid && (labelRef.dirty || labelRef.touched)) {
            <div>
              @if (editForm.get('label')?.errors?.required) {
                <small class="form-text text-danger">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('label')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 100 caractères.</small>
              }
            </div>
          }
        </div>

        @let summaryRef = editForm.get('summary')!;
        <div class="mb-3">
          <label class="form-label" for="field_summary">Summary</label>
          <input type="text" class="form-control" name="summary" id="field_summary" data-cy="summary" formControlName="summary" />
          @if (summaryRef.invalid && (summaryRef.dirty || summaryRef.touched)) {
            <div>
              @if (editForm.get('summary')?.errors?.maxlength) {
                <small class="form-text text-danger">Ce champ doit faire moins de 255 caractères.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
